<nav>
  <a routerLink="home">Home</a> |
  <a routerLink="aplicacao/aplicacao-add">aplicacao add</a> |
  <a routerLink="aplicacao/aplicacao-filter">aplicacao filter</a> |
  <a routerLink="aplicacao/aplicacao-list">aplicacao list</a> |
  <a routerLink="entidade/entidade-add">entidade add</a> |
  <a routerLink="entidade/entidade-filter">entidade filter</a> |
  <a routerLink="entidade/entidade-list">entidade list</a> |
  <a routerLink="atributo/atributo-add">atributo add</a> |
  <a routerLink="atributo/atributo-filter">atributo filter</a> |
  <a routerLink="atributo/atributo-list">atributo list</a> |
</nav>
<router-outlet></router-outlet>